---
layout: default
---

<!-- Page Header -->
<header class="masthead" style="overflow: hidden;">
    {% if page.background %}
    <img src="{{ page.background | prepend: site.baseurl | replace: '//', '/' }}" alt="{{site.title}}" style="position: absolute;width: 100%;">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <!--
                        <h1>{{ site.title }}</h1>
                    -->
                    <img src="/img/logo.png" height="75%" width="75%"/>
                    {% if site.description %}
                    <span class="subheading">{{ site.description }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {{ content }}

            <!-- Home Post List -->
            {% for post in site.posts limit : 5 %}
            {% assign author = site.authors[post.author] %}

            <article class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% else %}
                    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 50 }}</h3>
                    {% endif %}
                </a>
                <p class="post-meta">
                    por
                    {% if post.author %}
                    {{ author.name }}
                    {% else %}
                    {{ site.author }}
                    {% endif %}
                    em
                    {{ post.date | date: '%d/%m/%Y' }}
                </p>
            </article>

            <hr>
            {% endfor %}

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="{{ '/posts' | relative_url }}">Ver todos os posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
